.itemTl{
  padding: 20px;
  p{
    padding-left: 10%;
    margin-top: 10px;
  }
  b{
    font-weight: 400;
    color:#199ED8;
  }
  .itemTl_div{
        margin-top: 10px;
  }
  .itemTl_Row{
    margin-bottom: 30px;
    text-align: center;
  }
}
.situationButton{
  margin-top: 60px;
  button{
    margin-right: 50px;
    &:last-child{
      margin:0;
    }
  }
}
.tlDrawer{
  padding: 30px 20px;
  .item_table{
   position: relative;
    span{
      width: 100%;
      display: block;
    }
    ul{
      list-style-type: none;
      position: absolute;
      width: 100%;
      border:1px solid #898989;
      padding: 0;
      z-index: 1;
      li{
        border-bottom: 1px solid #898989;
        background-color: #e4e4e4;
        line-height: 20px;
        display: flex;
        &:last-child{
          border-bottom: 0;
        }
        em{
          display: inline-block;
          width: 35%;
          text-align: center;
        }
        i{
          border-left: 1px solid #898989;
          display: inline-block;
          width: 64%;
          word-break: break-word;
          padding-left: 2px;
          background-color: #ffffff;
          input{
            outline:none;
            border:0;
            &:active{
              outline:none;
              border:0;
            }
          }
        }
      }
    }
  }
  .tl_lsfk{
    div{
      overflow-y: auto;
      max-height: 150px;
    }
    em{
      width: 20%;
      float: left;
    }
    p{
      float: left;
      width: 80%;
      span{
        display: inline-flex;
        width: 100%;
      }
    }
  }
}
.item_lsjz{
  >span{
    display:inline-flex;
    width: 80%;
  }
}
.additem_lsjz{
  >div{
    >div{
      line-height: 20px;
      margin-top: 10px;
    }
  }
}
.itemDate,.detailsTl{
  ul{
    list-style-type: none;
    width: 80%;
    border: 1px solid #e8e8e8;
    padding: 0;
    margin: 0;
    li{
      width: 100%;
      min-height: 30px;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
      &:last-child{
        border-bottom: 0;
      }
      em{
        font-weight:900;
      }
      a:hover{
        background-color: #aeeefb;
      }
        em:first-child,a{
        border-right: 1px solid #e8e8e8;
      }
      >*{
        width: 50%;
        float: left;
      }
      &:first-child{
        background-color: #fafafa;
      }
    }
  }
}
.file{
  .file_button{
    margin-top: 20px;
    text-align: center;
    >*{
      display: inline-block;
    }
    button{
      margin-right: 10px;
    }
  }
}
.detailsTl{
  .detailsTl_rol{
    margin-bottom: 15px;
    &:first-child{
      margin-top:15px;
    }
  }
  .item_table{
    position: absolute;
    top: 40px;
  }
  .tl_lsfk{
    div{
      overflow-y: auto;
      max-height: 109px;
    }
    em{
      min-width: 9.3%;
      max-width: 28%;
    }
    p{
      width: 86%;
    }
  }
  em{
    max-width: 28%;
    float: left;
  }
  p{
    width: 72%;
    float: left;
    span{
      display: inline-flex;
      width: 100%;
    }
  }
  .gj{
    em{
      max-width: 33%;
    }
    p{
      width: 67%;
    }
  }
  button{
    margin-right:60px;
    margin-top:30px;
  }
}