.itemTl {
    padding: 20px;
    p {
        padding-left: 10%;
        margin-top: 10px;
    }
    b {
        font-weight: 400;
        color: #199ED8;
    }
    .itemTl_div {
        margin-top: 10px;
    }
    .itemTl_Row {
        margin-bottom: 30px;
        text-align: center;
    }
    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td {
        padding: 8px;
    }
    .lsfk_span {
        display: block;
        text-align: left;
    }
    .state_style {
        i {
            display: block;
            color: #199ED8;
        }
        p {
            height: 20px;
            line-height: 20px;
            text-align: left;
            margin: 0;
            padding: 0;
            em {
                float: left;
                &:last-child {
                    max-width: 70%;
                    margin-left: 5px;
                }
            }
        }
    }
}

.situationButton {
    margin-top: 60px;
    button {
        margin-right: 50px;
        &:last-child {
            margin: 0;
        }
    }
}

.tlDrawer {
    padding: 30px 20px;
    .item_table {
        position: relative;
        span.ant-form-item-children {
            width: 100%;
            display: block;
            >ul {
                list-style-type: none;
                position: absolute;
                width: 100%;
                border: 1px solid #898989;
                padding: 0;
                z-index: 1;
                >li {
                    border-bottom: 1px solid #898989;
                    background-color: #e4e4e4;
                    line-height: 20px;
                    display: flex;
                    &:last-child {
                        border-bottom: 0;
                    }
                    em {
                        display: inline-block;
                        width: 35%;
                        text-align: center;
                    }
                    >i {
                        border-left: 1px solid #898989;
                        display: inline-block;
                        width: 64%;
                        word-break: break-word;
                        padding-left: 2px;
                        background-color: #ffffff;
                        input {
                            outline: none;
                            border: 0;
                            &:active {
                                outline: none;
                                border: 0;
                            }
                        }
                    }
                    i.schedule_time {
                        width: auto;
                        i {
                            width: auto;
                        }
                    }
                    .ant-select-selection--multiple {
                        border: 0;
                    }
                }
            }
        }
    }
    .tl_lsfk {
        div {
            overflow-y: auto;
            max-height: 150px;
            .m12_width{
                width: 22%;
            }
        }
        em {
            width: 11%;
            text-align: right;
            float: left;
            color: #333;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        p {
            float: left;
            width: 80%;
            span {
                display: inline-flex;
                width: 100%;
                strong {
                    color: red;
                    font-weight: 400;
                }
                b {
                    color: blue;
                    font-weight: 400;
                }
            }
        }
    }
}

.item_lsjz {
    >span {
        display: inline-flex;
        width: 80%;
    }
}

.additem_lsjz {
    >div {
        &:first-child{
            width: 11.2%;
        }
        >div {
            line-height: 20px;
            margin-top: 10px;
        }
    }
}

.itemDate,
.detailsTl {
    ul {
        list-style-type: none;
        width: 80%;
        border: 1px solid #e8e8e8;
        padding: 0;
        margin: 0;
        li {
            width: 100%;
            min-height: 30px;
            line-height: 30px;
            text-align: center;
            border-bottom: 1px solid #e8e8e8;
            &:last-child {
                border-bottom: 0;
            }
            em {
                font-weight: 900;
            }
            a:hover {
                background-color: #aeeefb;
            }
            em:first-child,
            a {
                border-right: 1px solid #e8e8e8;
            }
            >* {
                width: 30%;
                float: left;
                text-align: center;
            }
            &:first-child {
                background-color: #fafafa;
            }
        }
    }
}

.detailsTl {
    ul {
        li {
            i {
                width: 70%;
            }
        }
    }
}

.file {
    .file_button {
        padding: 20px;
        text-align: center;
        >* {
            display: inline-block;
        }
        button {
            margin-right: 10px;
        }
    }
}

.detailsTl {
    .detailsTl_rol {
        margin-bottom: 15px;
        &:first-child {
            margin-top: 15px;
        }
    }
    .item_table {
        position: absolute;
        top: 40px;
    }
    .tl_lsfk {
        div {
            overflow-y: auto;
            max-height: 109px;
        }
        em {
            width: 24.9%;
        }
        em.max{
            width: 16.5%;
        }
        p {
            width: 86%;
        }
    }
    em {
        width: 37%;
        float: left;
        text-align: right;
        font-weight: 500;
        color: #333;
    }
    .m18_width {
        width: 16.7%;
    }
    .max_width {
        width: 12.5%;
    }
    p {
        width: 63%;
        float: left;
        span {
            display: inline-flex;
            width: 100%;
            b {
                color: blue;
                font-weight: 400;
            }
            strong {
                color: red;
                font-weight: 400;
            }
            s {
                text-decoration: none;
            }
        }
    }
    .gj {
        em {
           
        }
        p {
            width: 63%;
        }
    }
    button {
        margin-right: 60px;
        margin-top: 30px;
    }
}

.detailsTl {
    min-height: 400px;
    .detailsTl_button {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
@media (min-width:1366px) {
    .tabPane p em{
      width: 31%;
    }
    .tabPane .maxText > span > em{
      width: 10.5%;
    }
    .detailsTl em{
      width: 27%;
    }
    .detailsTl .tl_lsfk em{
      width: 18.4%;
    }
    .detailsTl .tl_lsfk em.max{
        width: 12.4%;
    }
    .detailsTl .m18_width{
      width: 12.5%;
    }
    .detailsTl .max_width{
      width: 9%;
    }
  }
  @media (min-width:1680px) {
    .tabPane p em{
      width: 26%;
    }
    .tabPane .maxText > span > em{
      width: 8.3%;
    }
    .detailsTl em{
      width: 22%;
    }
    .detailsTl .tl_lsfk em{
      width: 14.4%;
    }
    .detailsTl .tl_lsfk em.max{
        width: 9.4%;
    }
    .detailsTl .m18_width{
      width: 9.5%;
    }
    .detailsTl .max_width{
      width: 7%;
    }
  }
  @media (min-width:1920px) {
    .tabPane p em{
      width: 23%;
    }
    .tabPane .maxText > span > em{
      width: 7.3%;
    }
    .detailsTl em{
      width: 19%;
    }
    .detailsTl .tl_lsfk em{
      width: 12.4%;
    }
    .detailsTl .tl_lsfk em.max{
        width: 8.4%;
    }
    .detailsTl .m18_width{
      width: 8.2%;
    }
    .detailsTl .max_width{
      width: 6%;
    }
  }